In [1]:
import random
import numpy as np
import csv
import pandas as pd

In [2]:
DJdf = pd.read_csv("C:\\Users\\Andre\\Desktop\\SeniorSpring\\L3Harris-Senior-Capstone\\stock_data\\djia_2012.csv", header=0, names=["Date", "Avg"])
Nasdf = pd.read_csv("C:\\Users\\Andre\\Desktop\\SeniorSpring\\L3Harris-Senior-Capstone\\stock_data\\nasdaq_all.csv")
Russdf = pd.read_csv("C:\\Users\\Andre\\Desktop\\SeniorSpring\\L3Harris-Senior-Capstone\\stock_data\\russel2000_all.csv")

DJdf["Date"] = pd.to_datetime(DJdf["Date"])

In [3]:
DJdf

           Date       Avg
0    2012-10-31  13096.46
1    2012-11-01  13232.62
2    2012-11-02  13093.16
3    2012-11-05  13112.44
4    2012-11-06  13245.68
...         ...       ...
2521 2022-11-04  32403.22
2522 2022-11-07  32827.00
2523 2022-11-08  33160.83
2524 2022-11-09  32513.94
2525 2022-11-10  33715.37

[2526 rows x 2 columns]